/***********estilo propio************/
@font-face {
    font-family: minombre ;
    src: url("../fuentes/.....");
}

#barra{
    width: 45px;
    height: 45px;
}
.mifuente {font-family: minombre;}

.navbar {z-index:1020;}

.vh-95{height:95vh;}


        
#inicio {
	background: url(../imagenes/fondo.jpg)  no-repeat center top;
    text-align: center;
	margin-top: -100px;
	padding-top: 200px;
	background-attachment: relative;
	background-position: center center;
	min-height: 750px;
	width: 100%;
    background-size: 100%;
    background-size: cover;
}

#inicio h1 {
	color:#371a37;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#inicio h4 {
	font-weight: 400px;
    font-size:20px;
	color: #371a37 ;
}

#ejercicios{
    text-align: center;
	margin-top: -55px;
	padding-top: 200px;
	min-height: 1100px;
	width: 100%;
    color: #6d6d6d;
    background-color: #c57ad1;
}
#ejercicios h1 {
    color: #eee3f3;
    margin-top: -90px;
	font-weight: bold;
	margin-bottom: 30;
}

#ejercicios h5 {
    color: #211f29;
    margin-top: 40px;
    letter-spacing: -1.5PX;
    font-weight: bold;
}
.row {
    margin-top: 40px;
    
}
#skyscanner, #booking, #ryanair, #trivago {
    max-width:200px;
    display:block;
    margin:auto;
    
}

#pocopresupuesto{
    text-align: center;
	margin-top: -55px;
	padding-top: 200px;
	min-height: 1150px;
	width: 100%;
    color: #6d6d6d;
    background-color: #b3dfec;
}
#pocopresupuesto h1 {
    color: #ffffff;
    margin-top: 80px;
	font-weight: bold;
	margin-bottom: 30;
}
#pocopresupuesto h5 {
    color: #424242;
    margin-top: 20px;
    margin-bottom: 30px;

}

#maleta {
    max-width:700px;
    display:block;
    margin:auto;
}

#espana{
    text-align: center;
	margin-top: -55px;
	padding-top: 200px;
	min-height: 1650px;
	width: 100%;
    color: #6d6d6d;
    background-color: #fbffda;
}

#espana h1 {
    color: #8b84a7;
    margin-top: -90px;
	font-weight: bold;
	margin-bottom: 30;
}

.carousel{
    margin-top: 50px;
}
.carousel h3{
    font-weight: bold;
}

#espana h5 {
    color: #211f29;
    margin-top: 40px;
    letter-spacing: -1.5PX;
    font-weight: bold;
}

.list-group-item{
    text-align: left;
}

#contacto{
    text-align: center;
	padding-top: 30px;
    padding-bottom: 50px ;
	min-height: 100px;
	width: 100%;
    color: #6d6d6d;
    background-color: #b3dfec;
}
#contacto h1 {
    color: #ffffff;
    margin-top: 30px;
	font-weight: bold;
	margin-bottom: 30;
}
#contacto h6 {
    color: #211f29;
    letter-spacing: -1.5PX;
    font-weight: bold;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
